.footer {
  padding: 40px 16px;
  @include theme-aware('box-shadow', 'color-shadow');
  font-size: 1.1rem;
  @include mobile {
    padding: 20px 8px;
  }
  &__logo {
    height: 38px;
  }

  &__about {
    p {
      margin-bottom: 2rem;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  &__content {
    p {
      margin-bottom: 1.25rem;
    }
  }
}
