.header {
  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    @include mobile {
      padding-left: 8px;
    }
  }

  @include theme-aware('background', 'color-header');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: $header-height;
  transition: height 0.3s ease;

  @include tablet {
    height: $header-tablet-height;
    @include theme-aware('box-shadow', 'color-shadow');
  }

  @include mobile {
    height: $header-mobile-height;
  }

  .container {
    height: 100%;
  }

  &.shrink {
    height: $header-shrink-height;
    @include theme-aware('box-shadow', 'color-shadow');
    z-index: 100;

    @include mobile {
      height: $header-mobile-height;
    }
  }

  &__logo {
    @include flex(center, space-between);
    left: 8px;
    font-size: 30px;
    color: $main-orange-dark;
  }
  &__logo__hover:hover {
    opacity: 0.85;
  }

  &__name {
    font-size: 20px;
    font-weight: 900;
    margin-left: 4px;
    background: $txt-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }

  &__right {
    font-size: 20px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mobile {
      margin-right: 4px;
    }
    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      max-width: 50px;
      object-fit: cover;
      @include tablet {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
      @include mobile {
        width: 28px;
        height: 28px;
        border-radius: 14px;
      }
    }
    &__item {
      cursor: pointer;
      margin-right: 4px;
      padding-left: 20px;
      padding-right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      @include theme-aware('background-color', 'color-bg-icon-right');
      @include flex(center, center);

      @include tablet {
        width: 44px;
        height: 44px;
      }
      @include mobile {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    @include mobile {
      font-size: 16px;
    }
  }
  &__menu {
    @include flex(center, center);
    height: 100%;
    font-size: 24px;
    margin-left: -100px;

    @include tablet {
      font-size: 13px;
    }
    @include mobile {
      font-size: 13px;
    }

    &__item {
      @include theme-aware('color', 'color-icon');
      border-radius: 16px;
      height: 100%;
      padding-left: 16px;
      padding-right: 16px;
      margin-right: 8px;
      margin-left: 8px;
      position: relative;
      @include flex(center, center);
      &__link {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
          height: auto;
          font-size: 16px;
          margin-bottom: 8px;
        }
        @include mobile {
          height: auto;
        }
      }
      &__txt {
        display: none;
        margin-left: 8px;
        @include tablet {
          width: 80px;
          padding-top: 6px;
          padding-bottom: 6px;
          display: inline;
          font-size: 13px;
        }

        @include mobile {
          width: 60px;
          display: inline;
          font-size: 13px;
        }
      }
      .item__hover {
        font-size: 13px;
        display: none;
      }
    }

    &__item.active {
      font-weight: 600;
      @include theme-aware('background-color', 'color-bg-item');
      @include theme-aware('box-shadow', 'color-shadow');
      color: $main-bg-light;
    }
    &__item.active:hover {
      @include theme-aware('background-color', 'color-bg-item');
    }

    &__item:hover {
      @include theme-aware('background-color', 'color-bg-hover');
    }
    &__item:hover .item__hover {
      position: absolute;
      bottom: -40px;
      width: 80px;
      text-align: center;
      padding-top: 8px;
      font-weight: 600;
      padding-bottom: 8px;
      @include theme-aware('color', 'color-background');
      border-radius: 6px;
      @include theme-aware('background-color', 'color-txt');
      display: block;
      opacity: 0.9;
      @include tablet {
        display: none;
      }
      @include mobile {
        display: none;
      }
    }

    &__left {
      @include flex(center, center);
      height: 100%;
    }

    &__left {
      &__close {
        display: none;
      }

      @include tablet {
        flex-direction: column;
        @include theme-aware('background', 'color-background');
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        padding-top: 30px;
        transform: translateX(-100%);
        transition: transform 0.5s ease;

        &.active {
          transform: translateX(0);
        }

        &__item {
          height: auto;
          padding: 4px 30px 4px 30px;
        }
        &__item ~ &__item {
          margin-left: unset;
          margin-top: 20px;
        }

        &__close {
          display: block;
          position: absolute;
          left: 20px;
          font-size: 20px;
        }
      }
    }

    &__mobile-toggle {
      display: none;

      @include tablet {
        display: inline;
        position: absolute;
        font-size: 20px;
        left: 60px;
      }
      @include mobile {
        display: block;
        position: absolute;
        font-size: 20px;
        left: 52px;
      }
    }
  }
  &__line {
    height: 3px;
    background-color: $main-orange-dark;
  }
}
