.news__card {
  &__container {
    margin-bottom: 12px;
    position: relative;
    display: flex;
    border-radius: 4px;
    @include tablet {
      border-radius: 16px;
    }
    @include mobile {
      border-radius: 16px;
    }
  }
  &__category {
    color: $main-txt-dark;
    display: flex;
    bottom: 4px;
    left: 4px;
    opacity: 0.9;
  }
  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    padding: 0 8px 0 8px;
    border-radius: 4px;
    @include tablet {
      border-radius: 16px;
      padding: 0 16px 0 16px;
    }
    @include mobile {
      border-radius: 16px;
      padding: 0 8px 0 8px;
    }
    &__title {
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
    }
    &__title:hover {
      color: $main-orange-light;
    }
    &__author {
      margin-top: 8px;
      font-size: 11px;
      font-weight: 600;
      display: flex;
      align-items: center;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      @include mobile {
        font-size: 10px;
      }
      &__icon {
        margin-right: 8px;
        @include mobile {
          margin-right: 4px;
        }
      }
      .icon_user {
        color: $main-orange-light;
      }
    }
  }
  &__image {
    &__container {
      width: 40%;
      border-radius: 4px;
      overflow: hidden;
      @include tablet {
        border-radius: 16px;
      }
      @include mobile {
        border-radius: 8px;
      }
    }
    &__background {
      width: 100%;
      height: 100%;
      aspect-ratio: 1.8;
      cursor: pointer;
      object-fit: cover;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
    &__background:hover {
      -webkit-transform: scale(1.25);
      transform: scale(1.3);
    }
  }
}

.new__post__title {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
