.vbutton {
  &__container {
    width: 100%;
    padding: 8px;
    color: $main-txt-dark;
    background-image: linear-gradient(
      to right,
      $main-orange-dark,
      $main-orange-light
    );
    border-radius: 8px;
    border: none;
    @include flex(center, center);
    @include theme-aware('box-shadow', 'color-shadow');
    font-weight: 700;
    cursor: pointer;
  }
  &__container:hover {
    opacity: 0.9;
  }
}
.vbutton__all__post {
  width: 100px;
}
.vbutton__trending {
  width: 75px;
  font-size: 10px;
}
