* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  font-size: 14px;

  @include mobile {
    font-size: 12px;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  @include theme-aware('background', 'color-background');
  @include theme-aware('color', 'color-txt');
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  @include theme-aware('color', 'color-txt');
}

img {
  max-width: 100%;
}

@each $color, $val in $colors {
  .color-#{$color} {
    color: $val;
  }

  .bg-#{$color} {
    background-color: $val;
  }
}

@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}

@each $val in $numbers {
  .grid-col-md-#{$val} {
    @include tablet {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

@each $val in $numbers {
  .grid-col-sm-#{$val} {
    @include mobile {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

.container {
  width: 100%;
  max-width: 1620px;
  margin: auto;
}

.main {
  min-height: 100vh;
  margin-top: $header-height;
  @include tablet {
    margin-top: calc(#{$header-tablet-height});
  }

  @include mobile {
    margin-top: calc(#{$header-mobile-height});
  }
}

.grid {
  display: grid;
}

.categories__container {
  display: flex;
  color: $main-txt-dark;
}
.vinput {
  padding: 8px;
  width: 100%;
  @include theme-aware('color', 'color-txt');
  @include theme-aware('background-color', 'color-background');
  border: 1px solid rgba($color: gray, $alpha: 1);
}
.vinput:focus {
  outline-offset: 0px;
  outline: none;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  outline-offset: 0px;
  outline: none;
  border: none;
  // pointer-events: none;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: gray !important;
  border-radius: 2px !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline:focus-visible {
  border: none;
}
.css-1iz24ed-MuiChip-root {
  @include theme-aware('background-color', 'color-header');
  @include theme-aware('color', 'color-txt');
}
.vselect__style:hover {
  border: none;
}
.select__container:hover {
  border: none;
}

.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.txt-center {
  text-align: center;
}
.line {
  height: 1px;
  opacity: 0.3;
  @include theme-aware('background-color', 'color-icon');
}
.hover__icon:hover {
  @include theme-aware('background-color', 'bg-hover-icon');
}
.ql-container {
  font-size: 14px;

  @include tablet {
    font-size: 14px;
  }
  @include mobile {
    font-size: 13px;
  }
}
.ql-video {
  width: 100%;
  height: 500px;
  @include tablet {
    height: 400px;
  }
  @include mobile {
    height: 250px;
  }
}
.ql-tooltip {
  display: none !important;
}
.css-iqeo3-MuiButtonBase-root-MuiPaginationItem-root {
  @include theme-aware('color', 'color-txt');
  @include theme-aware('border-color', 'color-txt');
}
.css-iqeo3-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #fff !important;
  border: 1px solid $main-orange-dark !important;
  // background-color: rgba($color: $main-orange-light, $alpha: 0.9) !important;
  background-image: linear-gradient(
    to right,
    $main-orange-dark,
    $main-orange-light
  ) !important;
}
.vavatar {
  object-fit: cover;
}
